@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply flex items-center rounded-md px-4 bg-fuchsia-600 text-slate-100 leading-9 hover:bg-fuchsia-500
    }

    .btn-plain {
        @apply flex items-center rounded-md px-4 bg-slate-200 text-slate-950 leading-9 hover:bg-slate-100
    }

    .text-ellipsis{
        @apply overflow-hidden whitespace-nowrap;
    }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
